# Local development defaults (copy values into your shell / IDE run config)
MYSQL_URL=jdbc:mysql://localhost:3306/college_admin?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
MYSQL_USER=ca_user
MYSQL_PASSWORD=ca_pass
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/college-admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
